<div class="wrapper">
  <center>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h1>Welcome to Mendross!</h1>
                  <p class="lead">Ready for crossing!</p>

              </div>
          </div>
      </div>
  </center>
  <form method="POST" role="form" action="/cross">
    <div class="form-group">
      <label for="exampleSelect1">Type of inheritance: </label>
      <select class="form-control" id="genes" name="gene">
        <option value="1">Monohybrid</option>
        <option value="2">Dihybrid</option>
        <option value="3">Trihybrid</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Parental genotype: </label>
      <input type="text" class="form-control" id="pog" name="pog">
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Marental genotype: </label>
      <input type="text" class="form-control" id="ptg" name="ptg">
    </div>
    <button type="submit" class="btn btn-primary">Cross</button>
  </form>

  <center>
      <p class="h3">Punett square</p>
  </center>

  <table id="datatable" class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th><% $POG[0] %></th>
        <th><% $POG[1] %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><% $PTG[0] %></th>
        <td>AA</td>
        <td>Aa</td>
      </tr>
      <tr>
        <th scope="row"><% $PTG[1] %></th>
        <td>Aa</td>
        <td>aa</td>
      </tr>
    </tbody>
  </table>
</div>
<h5><% genes %></h5>
<h5><% p_one %></h5>
<h5><% p_two %></h5>
