<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">THE STORY</h4>
      <span class="text">I'm a biotechnological sciences student at <a target="_blank" href="http://msa.edu.eg">MSA university</a>. while taking a genetics course, I came to meet the basic <a target="_blank" href="https://en.wikipedia.org/wiki/Mendelian_inheritance">mendelian inheritance</a> <a target="_blank" href="https://en.wikipedia.org/wiki/Punnett_square">punnett square</a>.
      Oneday I encountered a problem solving a trihybrid crossing problem, I Googled a punnett square tool online but found nothing.</span>

      <h4 class="text-white">About Mendross</h4>
      <span class="text">Mendross is an open-source online tool that compute Mono, Di and Trihybrid cross using punnett square. It's written in Perl and built on <a target="_blank" href="http://perldancer.org">Perldancer</a>. The user interface uses Materialized(Material-UI) Bootstrap as it's CSS framework.
      You can check the source code <a target="_blank" href="https://github.com/ElRakabawi/Mendross">here</a> and the web version <a target="_blank" href="https://github.com/ElRakabawi/Mendross-web">here</a></span>
    </div>
  </div>
</div>
<div class="wrapper">
  <center>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="title">Mendross</h1>
                  <p class="lead">Ready for crossing!</p>

              </div>
          </div>
      </div>
  </center>
  <form method="POST" role="form" action="/cross">
    <div class="form-group">
      <label for="exampleSelect1">Type of inheritance: </label>
      <select class="form-control" id="genes" name="gene">
        <option value="1">Monohybrid</option>
        <option value="2">Dihybrid</option>
        <option value="3">Trihybrid</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Parental genotype: </label>
      <input type="text" class="form-control" id="pog" name="pog">
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Marental genotype: </label>
      <input type="text" class="form-control" id="ptg" name="ptg">
    </div>
    <button id="btn" type="submit" class="btn btn-primary">Cross</button>
  </form>
  <span class="alert"><% noInput %></span>
</div>
<center>
  <button class="btn btn-dark info" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="carousel-control-next-icon"></span>
    <span>About mendross</span>
  </button>
  <footer>
    <span class="dev">Developed by <a target="_blank" href="https://facebook.com/melrakabawi">ElRakabawi</a></span>
  </footer>
</center>
