<div class="wrapper">
  <form method="POST" role="form" action="/cross">
    <div class="form-group">
      <label for="exampleSelect1">Type of inheritance: </label>
      <select class="form-control" id="genes" name="gene">
        <option value="1">Monohybrid</option>
        <option value="2">Dihybrid</option>
        <option value="3">Trihybrid</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Parental genotype: </label>
      <input type="text" class="form-control" id="pog" name="pog">
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Marental genotype: </label>
      <input type="text" class="form-control" id="ptg" name="ptg">
    </div>
    <button id="btn" type="submit" class="btn btn-primary">Cross</button>
  </form>
  <span class="alert"><% noInput %></span>
</div>
<center>
  <button class="btn btn-dark info" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="carousel-control-next-icon"></span>
    <span>About mendross</span>
  </button>
</center>
