<h2 class="pntsqr">Punette square for this monohybrid cross: </h2>
<table id="datatable" class="table table-hover table-inverse MonoTa" >
  <thead>
    <tr>
      <th><% r00 %></th>
      <th><% r01 %></th>
      <th><% r02 %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><% r10 %></th>
      <td><% r11 %></td>
      <td><% r12 %></td>
    </tr>
    <tr>
      <th scope="row"><% r20 %></th>
      <td><% r21 %></td>
      <td><% r22 %></td>
    </tr
  </tbody>
</table>

<center style="margin-bottom: 70px">
  <center style="max-width: 40%; margin-top: 70px;">
    <p>Genotype</p>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: <% per_dom %>%" aria-valuemin="0" aria-valuemax="100"><% one %></div>
      <div class="progress-bar bg-success" role="progressbar" style="width: <% per_het %>%" aria-valuemin="0" aria-valuemax="100"><% two %></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: <% per_rec %>%" aria-valuemin="0" aria-valuemax="100"><% three %></div>
    </div>
  </center>
  <% if dom_one != 0 || if rec_one != 0 %>
  <center style="max-width: 40%; margin-top: 40px">
    <p>Phenotype</p>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: <% per_trait_one %>%" aria-valuemin="0" aria-valuemax="100"><% four %></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: <% per_trait_two %>%" aria-valuemin="0" aria-valuemax="100"><% five %></div>
    </div>
  </center>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chi-square Analysis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Enter your observed data set</label>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <!-- <span class="input-group-addon" id="basic-addon2"><% dom_one %></span> -->
            <span class="input-group-addon" id="basic-addon2"><% dom_one %></span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><% rec_one %></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor: pointer">Close</button>
          <button type="button" class="btn btn-primary">Compute chi-square value</button>
        </div>
      </div>
    </div>
  </div>
  <% end if %>
</center>


<footer>
  <center>
    <a href="/">
      <button class="btn btn-dark info" style="padding-left: 7px">
        <span class="carousel-control-prev-icon"></span>
        <span>Back to home</span>
      </button>
    </a>
    <button type="button" class="btn btn-dark info" data-toggle="modal" data-target="#exampleModal" style="background-color: #9c27b0; padding-left: 23px">
      Chi-square analysis
    </button>
  </center>
</footer>
