<table id="datatable" class="table table-hover table-inverse">
  <thead>
    <tr>
      <th><% r00 %></th>
      <th><% r01 %></th>
      <th><% r02 %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><% r10 %></th>
      <td><% r11 %></td>
      <td><% r12 %></td>
    </tr>
    <tr>
      <th scope="row"><% r20 %></th>
      <td><% r21 %></td>
      <td><% r22 %></td>
    </tr>
  </tbody>
</table>
