<h2 class="pntsqr">Punette square for this monohybrid cross: </h2>
<table id="datatable" class="table table-hover table-inverse MonoTa" >
  <thead>
    <tr>
      <th><% r00 %></th>
      <th><% r01 %></th>
      <th><% r02 %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><% r10 %></th>
      <td><% r11 %></td>
      <td><% r12 %></td>
    </tr>
    <tr>
      <th scope="row"><% r20 %></th>
      <td><% r21 %></td>
      <td><% r22 %></td>
    </tr
  </tbody>
</table>

<center style="margin-bottom: 70px">
  <center style="max-width: 40%; margin-top: 70px;">
    <p>Genotype</p>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: <% per_dom %>%" aria-valuemin="0" aria-valuemax="100"><% one %></div>
      <div class="progress-bar bg-success" role="progressbar" style="width: <% per_het %>%" aria-valuemin="0" aria-valuemax="100"><% two %></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: <% per_rec %>%" aria-valuemin="0" aria-valuemax="100"><% three %></div>
    </div>
  </center>
  <% if dom_one != 0 || if $dom_two != 0 %>
  <center style="max-width: 40%; margin-top: 40px">
    <p>Phenotype</p>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: <% per_trait_one %>%" aria-valuemin="0" aria-valuemax="100"><% four %></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: <% per_trait_two %>%" aria-valuemin="0" aria-valuemax="100"><% five %></div>
    </div>
  </center>
  <% END if %>
</center>


<footer>
  <center>
    <a href="/">
      <button class="btn btn-dark info">
        <span class="carousel-control-prev-icon"></span>
        <span>Back to home</span>
      </button>
    </a>
  </center>
</footer>
