body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

form.ng-scope.ng-pristine.ng-valid {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


table#datatable {
    max-width: 50% !important;
    margin-top: 30px !important;
    margin-left: auto;
    margin-right: auto;
}


p.h3 {
    margin-top: 50px;
}

.wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}
